@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --primary-color: #C7D3D4FF;
  --secondary-color: #0063B2FF;
}



* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}




header {
  display: flex;
  justify-content: space-between;
  width: 80;
  margin: 5px;
  font-family: 'Roboto', sans-serif;

}

.highscores {
  float: left;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: larger;
  font-weight: bolder;
  padding: 5px;
}

.highscores:hover {
  cursor: pointer;
}


.timer {
  float: right;
  font-size: 1.8rem;
  text-decoration: none;
  margin-right: 30px;
}

#quiz-main {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  margin: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  overflow: hidden;
  display: none;
}

.quiz-box {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 20px;
  width: 60%;
  height: 50%;
}

h2 {
  text-align: center;
  margin-top: 30px;

}

ul {
  list-style: none;

}

ul li {
  font-size: 1.5rem;

}


.answer {
  border-radius: 5px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 15px;
  transition: background-color color 2s;
  border: 1px solid rgb(5, 34, 5);
}

.answer:hover {
  background-color:#195190FF;
}

.answersection small { 
  display: none;
  /* font-size: 40px; */
}

.answersection.right small {
  visibility: visible;
}

.answersection.wrong small {
  visibility:visible;
}




/* start page that will be hidden */
#startpage {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  margin: 0;
  background-color: #fff;
  /* display: none; */
}

.startbox {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: #f6f6f6;
  width: 60%;
  overflow: hidden;
} 

h1 {
  padding: 20px;
}


p {
  padding: 20px;
}

.begin {
  border: 0;
  padding: 15px 30px;
  background-color: var(--secondary-color);
  color:#fff;
  font-size: 1.2rem;
  width: 100%;
  display: block;
  cursor: pointer;
}

.begin:hover {
  background-color: #195190FF;
}



