@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
  --primary-color: #C7D3D4FF;
  --secondary-color: #0063B2FF;
  background-color: #28334AFF;
}



* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}




header {
  display: flex;
  justify-content: space-between;
  width: 80;
  margin: 5px;
  font-family: 'Roboto', sans-serif;

}

.highscores, .returnbtn, .clearBtn {
  float: left;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  font-size: larger;
  font-weight: bolder;
  padding: 5px;
}

.returnbtn {
  display: none;
}

.clearBtn {
  margin-left: 800px;
}

.highscores:hover, .clearBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.returnbtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.timer {
  float: right;
  font-size: 1.8rem;
  text-decoration: none;
  margin-right: 30px;
  color: #fff;
  display: none;
}

.quiz-main, .hiscore-page {
  font-family: 'Lato', sans-serif;
  font-size: larger;
  height: 95vh;
  margin: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #28334AFF;
  overflow: hidden;
  display: none;
}


.quiz-box, .hiscorebox {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  width: 60%;
  height: 70%;
  border: 2px solid var(--secondary-color);
}

.hiscorebox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


h2, .scoremsg {
  text-align: center;
  margin-top: 30px;

}

ul {
  list-style: none;

}

ul li {
  font-size: 1.5rem;

}


.answer {
  border-radius: 5px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 15px;
  transition: background-color color 2s;
  border: 1px solid rgb(5, 34, 5);
}

.answer:hover {
  opacity: 0.9;
  padding: 16px;
}

.answersection small { 
  display: none;
  font-size: 40px;
}






/* start page that will be hidden once quiz begins */
#startpage {
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin: 0;
  background-color: #28334AFF;
}

.startbox {
  background-color: var(--primary-color);
  border-radius: 10px;
  color: var(--secondary-color);
  font-weight: bold;
  border: 2px solid var(--secondary-color);
  width: 60%;
  overflow: hidden;
} 

h1 {
  padding: 20px;
}


p {
  padding: 20px;
}

.begin {
  border: 0;
  padding: 15px 30px;
  background-color: var(--secondary-color);
  color:#fff;
  font-size: 1.2rem;
  width: 100%;
  display: block;
  cursor: pointer;
}

.begin:hover {
  opacity: 0.9;
}




.input {
  height: 30px;
  width: 100px;
  display: none;
  background-color: #fff;
  border: 2px solid var(--secondary-color);
  margin: 50px 300px;

}


input:focus {
  outline: 0;
}

.submit {
  cursor: pointer;
  border-radius: 2px;
  font-size: 12px;
  padding: 6px;
  margin: 10px 325px;
  display: none;
  border: 2px solid var(--secondary-color);
  position: absolute;
  float: right;
  
}

.submit:hover {
  opacity: 0.8;

}


.hiscore-page, .hiscorebox, .scoretitle {
  visibility: none;
}

#list {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  padding: 10px;
  margin-top: 80px;
}




/* @media (max-width: 800px) {

  .quiz-main,
  .answersection {
    width: 80%;
    height: 80%;
  }

} */

